<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Закупошная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header-zakupki :: header"></header>

<div class="container mt-5">
    <h1>Список закупок</h1>
        <table border="1" width="100%" cellpadding="6">
            <tr>
                <th>Внутренний номер закупки</th>
                <th>Реестровый номер закупки</th>
<!--                <th>Ссылка на источник</th>-->
                <th>НМЦК, руб.</th>
                <th>Статус</th>
                <th>Действие</th>
            </tr>
            <div th:each="element : ${reestrZakupok}">
                <tr>
                    <td th:text="${element.inNumber}"></td>
<!--                    <td th:text="${element.outNumber}"></td>-->
                    <td> <a th:href="${element.link}" th:text="${element.outNumber}"></a></td>
<!--                    <a th:href="th:text="${element.link}"">th:text="${element.outNumber}"</a>-->
<!--                    <td th:text="${element.link}"></td>-->
                    <td th:text="${element.price}"></td>
                    <td th:text="${element.status}"></td>
                    <td> <a th:href="'/zakupki/' + ${element.id} + '/edit'">Редактировать</a> </td>
                </tr>
            </div>
        </table>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>